
/**************************************************\
	Eric Meyer's Reset CSS v2.0 - http://cssreset.com 
\**************************************************/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}/**,*::before,*::after{box-sizing: border-box;}*/

/*********************\
	INITIALISATION
\*********************/

/*
	- Positioning

	- Box-model  

	- Typography 

	- Visual  

	- Misc
*/

/*

GOOGLE FONTS

	- Source Sans Pro 300 - 400 - 700 - 900

	- Open Sans 300 - 400 - 700 - 800

*/

html, 
body{
	position: relative;
	width: 100%;
	height: 100%;
}

body{
	font-size: 16px;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
	background: #FAFAFA;
}

.title-container{
	width: 100%;
	height: 22%;
	padding: 4%;
	background: #F6F6F6;
	box-sizing: border-box;
}

.title-container--title{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 3em;
	font-weight: 900;
	color: #414a51;
	text-align: center;
}

.link-container{
	/*position: absolute;
	bottom: 0;
	left: 0;
	right: 0;*/
	display: block;
	width: 100%;
	height: 5%;
	background: #F6F6F6;
	text-align: right;
	border-bottom: 1px solid #F4F4F4;
}

.link-conatiner--home{
	display: inline-block;
	text-align: center;
	width: 15%;
	height: 100%;
	padding-top: 0.5%;
	background: #414a51;
	border: 1px solid #414a51;
	color: #fff;
	text-decoration: none;
	box-sizing: border-box;
	-webkit-transition: color 0.2s, width 0.2s, background 0.2s, border-right 0.2s;
	-moz-transition: color 0.2s, width 0.2s, background 0.2s, border-right 0.2s;
	-ms-transition: color 0.2s, width 0.2s, background 0.2s, border-right 0.2s;
	-o-transition: color 0.2s, width 0.2s, background 0.2s, border-right 0.2s;
}

.link-conatiner--home:hover{
	color: #414a51;
	width: 15%;
	background: transparent;	
}

.content-container{
	position: relative;
	display: block;
	width: 100%;
	height: 60%;
}

.darker-title{
	border-top: 1px solid #EEECE8;
}

.darker-container{
	border-bottom: 1px solid #EEECE8;
}

.darker{
	background: #F1EEE9;
}

.title-padding--top{
	padding-top: 2%;
}

.container-title{
	width: 100%;
	margin-top: 5%;
	box-sizing: border-box;
}

.container-title h2{
	display: block;
	width: 100%;
	font-size: 2em;
	font-weight: 900;
	color: #414a51;
	text-align: center;
}

.container-box{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 30%;
}

.top-box{
	top: 19.9%;
}

.bottom-box{
	bottom: 19.9%;
}

.top-box:hover .container-box--item{
	z-index: 500;
}

.bottom-box:hover .container-box--item{
	z-index: 500;
}



.container-box--item{
	position: absolute;
	top: 0;
	bottom: 0;
	display: block;
	width: 20%;
	height: 100%;
	-webkit-transition: top 0.2s ease-out, bottom 0.2s ease-out, height 0.2s ease-out, z-index 0.2s ease-out, background-size 0.2s ease-out;
	-moz-transition: top 0.2s ease-out, bottom 0.2s ease-out, height 0.2s ease-out, z-index 0.2s ease-out, background-size 0.2s ease-out;
	-ms-transition: top 0.2s ease-out, bottom 0.2s ease-out, height 0.2s ease-out, z-index 0.2s ease-out, background-size 0.2s ease-out;
	-o-transition: top 0.2s ease-out, bottom 0.2s ease-out, height 0.2s ease-out, z-index 0.2s ease-out, background-size 0.2s ease-out;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 120%;
}

.container-box--item:hover{
	top: -30%;
	bottom: -30%;
	height: 160%;
	-webkit-box-shadow: 2px 5px 15px #151515;
	-moz-box-shadow: 2px 5px 15px #151515;
	-ms-box-shadow: 2px 5px 15px #151515;
	-o-box-shadow: 2px 5px 15px #151515;
	box-shadow: 2px 5px 15px #151515;	
	cursor: pointer;
}

.left-item{
	left: 19.9%;
}

.middle-item{
	left: 40%;	
}

.right-item{
	right: 19.9%;
}

.first-left{
	background-image: url(../img/sphere.jpg);
  -webkit-background-image: url(../img/sphere.jpg);
  -moz-background-image: url(../img/sphere.jpg);
  -o-background-image: url(../img/sphere.jpg)
}

.first-middle{
	background-image: url(../img/nyc.jpg);
  -webkit-background-image: url(../img/nyc.jpg);
  -moz-background-image: url(../img/nyc.jpg);
  -o-background-image: url(../img/nyc.jpg);
}

.first-right{	
	background-image: url(../img/squirrel.jpg);
  -webkit-background-image: url(../img/squirrel.jpg);
  -moz-background-image: url(../img/squirrel.jpg);
  -o-background-image: url(../img/squirrel.jpg);
}

.second-left{
	background-image: url(../img/clavier.jpg);
  -webkit-background-image: url(../img/clavier.jpg);
  -moz-background-image: url(../img/clavier.jpg);
  -o-background-image: url(../img/clavier.jpg)
}

.second-middle{
	background-image: url(../img/strawberries.jpg);
  -webkit-background-image: url(../img/strawberries.jpg);
  -moz-background-image: url(../img/strawberries.jpg);
  -o-background-image: url(../img/strawberries.jpg);
}

.second-right{	
	background-image: url(../img/cat.jpg);
  -webkit-background-image: url(../img/cat.jpg);
  -moz-background-image: url(../img/cat.jpg);
  -o-background-image: url(../img/cat.jpg);
}


.container-box--text--first-style{
	position: absolute;
	top: 30%;
	left: 5%;
	display: block;
	width: 80%;
	height: 20%;
	padding: 5%;
	padding-top: 7%;
	text-align: center;
	font-size: 1.2em;
	color: #fff;
	background: rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.1);
	opacity: 1;
	-webkit-box-shadow: 2px 5px 15px #151515;
	-moz-box-shadow: 2px 5px 15px #151515;
	-ms-box-shadow: 2px 5px 15px #151515;
	-o-box-shadow: 2px 5px 15px #151515;
	box-shadow: 2px 5px 15px #151515;	
	-webkit-transition: opacity 0.3s, top 0.2s;
	-moz-transition: opacity 0.3s, top 0.2s;
	-ms-transition: opacity 0.3s, top 0.2s;
	-o-transition: opacity 0.3s, top 0.2s;
	transition: opacity 0.3s, top 0.2s;		
	transition-delay: 0s;
}

.container-box--item:hover .container-box--text--first-style{
	opacity: 0;
	top: 0;
}



.container-box--text{
	position: absolute;
	top: 30%;
	left: 5%;
	display: block;
	width: 80%;
	height: 20%;
	padding: 5%;
	padding-top: 7%;
	text-align: center;
	font-size: 1.2em;
	color: #fff;
	background: rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.1);
	opacity: 1;
	-webkit-box-shadow: 2px 5px 15px #151515;
	-moz-box-shadow: 2px 5px 15px #151515;
	-ms-box-shadow: 2px 5px 15px #151515;
	-o-box-shadow: 2px 5px 15px #151515;
	box-shadow: 2px 5px 15px #151515;	
	-webkit-transition: opacity 0.3s, top 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out, left 0.3s ease-out, background 0.3s ease-out;
	-moz-transition: opacity 0.3s, top 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out, left 0.3s ease-out, background 0.3s ease-out;
	-ms-transition: opacity 0.3s, top 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out, left 0.3s ease-out, background 0.3s ease-out;
	-o-transition: opacity 0.3s, top 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out, left 0.3s ease-out, background 0.3s ease-out;
	transition: opacity 0.3s, top 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out, left 0.3s ease-out, background 0.3s ease-out;	
}


.container-box--item:hover .container-box--text{
	opacity: 1;
	width: 45%;
	height: 82%;
	top: 0;
	left: -55%;	
	background: rgba(0,0,0,1);
}

.container-box--text--third-style{
	position: absolute;
	top: 30%;
	left: 5%;
	display: block;
	width: 80%;
	height: 20%;
	padding: 5%;
	padding-top: 7%;
	text-align: center;
	font-size: 1.2em;
	color: #fff;
	background: rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.1);
	opacity: 1;
	-webkit-box-shadow: 2px 5px 15px #151515;
	-moz-box-shadow: 2px 5px 15px #151515;
	-ms-box-shadow: 2px 5px 15px #151515;
	-o-box-shadow: 2px 5px 15px #151515;
	box-shadow: 2px 5px 15px #151515;	
	-webkit-transition: background 0.4s, top 0.4s, left 0.4s, width 0.4s, height 0.4s, border 0.4s, box-shadow 0.4s;
	-moz-transition: background 0.4s, top 0.4s, left 0.4s, width 0.4s, height 0.4s, border 0.4s, box-shadow 0.4s;
	-ms-transition: background 0.4s, top 0.4s, left 0.4s, width 0.4s, height 0.4s, border 0.4s, box-shadow 0.4s;
	-o-transition: background 0.4s, top 0.4s, left 0.4s, width 0.4s, height 0.4s, border 0.4s, box-shadow 0.4s;
	transition: background 0.4s, top 0.4s, left 0.4s, width 0.4s, height 0.4s, border 0.4s, box-shadow 0.4s;	
}

.container-box--item:hover .container-box--text--third-style{
	background: rgba(0,0,0,0.0);
	top: 0;
	width: 89.5%;
	height: 82%;
	left: 0;
	border: transparent;
	box-shadow: 0px 0px 0px transparent;
}

.container-box--text--third-style span{
	position: absolute;
	top: 40%;
	left: 0;
	width: 100%;
	height: 20%;
	opacity: 1;
	-webkit-transition: opacity 0.2s, top 0.2s;
	-moz-transition: opacity 0.2s, top 0.2s;
	-ms-transition: opacity 0.2s, top 0.2s;
	-o-transition: opacity 0.2s, top 0.2s;
	transition: opacity 0.2s, top 0.2s;
	transition-delay: 0.3s;
}

.container-box--item:hover .container-box--text--third-style span{
	top: 20%;
	opacity: 0;
}

.fourth-style{
	overflow: hidden;	
}

.container-box--text--fourth-style{
	position: absolute;
	top: 30%;
	left: 5%;
	display: block;
	width: 80%;
	height: 20%;
	padding: 5%;
	padding-top: 7%;
	text-align: center;
	font-size: 1.2em;
	color: #fff;
	background: rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.1);
	opacity: 1;
	-webkit-box-shadow: 2px 5px 15px #151515;
	-moz-box-shadow: 2px 5px 15px #151515;
	-ms-box-shadow: 2px 5px 15px #151515;
	-o-box-shadow: 2px 5px 15px #151515;
	box-shadow: 2px 5px 15px #151515;	
	-webkit-transition: opacity 0.3s, left 0.2s;
	-moz-transition: opacity 0.3s, left 0.2s;
	-ms-transition: opacity 0.3s, left 0.2s;
	-o-transition: opacity 0.3s, left 0.2s;
	transition: opacity 0.3s, left 0.2s;		
	transition-delay: 0.2s;
}

.container-box--item:hover .container-box--text--fourth-style{
	left: 110%;
}

.sources-container{
	width: 100%;
	height: 20%;
	text-align: center;
	box-sizing: border-box;
	margin-top: 5%;
}

.sources-container--link{
	display: inline-block;
	text-align: center;
	width: 15%;
	height: 40%;
	padding-top: 1.2%;
	background: #414a51;
	border: 1px solid #414a51;
	color: #fff;
	text-decoration: none;
	margin-right: 0.5%;
	margin-left: 0.5%;
	box-sizing: border-box;
	-webkit-transition: color 0.2s, width 0.2s, background 0.2s, border-right 0.2s;
	-moz-transition: color 0.2s, width 0.2s, background 0.2s, border-right 0.2s;
	-ms-transition: color 0.2s, width 0.2s, background 0.2s, border-right 0.2s;
	-o-transition: color 0.2s, width 0.2s, background 0.2s, border-right 0.2s;
}

.sources-container--link:hover{
	color: #414a51;
	background: transparent;
}






/************************\
	Lightbox settings
\************************/
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #020202;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
 
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
    
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(img/prev_thin.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(img/next_thin.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 98%;
  border-top: 1px solid rgba(177, 177, 177, 0.66);
  background-color: #fffefb;
  text-align: center;
 
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0.4px;
  margin-top: 0.5%;
  font-family: 'Roboto', sans-serif;
  color: #626262;
}

.lb-data .lb-details {
  width: 85%;
  padding: 1%;
  padding-left: 3%;
  float: left;
  text-align: left;
  line-height: 1.1em;
  
}

.lb-data .lb-caption {
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  line-height: 1em;
 
}

.lb-data .lb-number {
  display: inline-block;
  clear: left;
  padding-bottom: 1.5%;
  font-size: 12px;
  color: #017da3;
  text-align: center;
}

.lb-number
{
    visibility: hidden;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  margin-top: 0.5%;
  margin-right: 1.5%;
  background: url(img/close_thin.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 1;